.services {
    margin-top: 8rem;
    align-items: center;
  }
  
  .heading-big {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    text-shadow: 0px 0px 90px #e07000;
  }
  .heading-small{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
    position: relative;
  }
  
  .card-custom {
    
    padding: 1.5rem;
    width: 18rem;
    height: 20rem;
    background-color: rgba(199, 194, 191, 0.5);
    border: none;
    border-radius: none;
    box-shadow: 0px 0px 60x black;
    transition: 0.3s ease;
  }
  
  .card-custom:hover {
    width: 18rem;
    height: 20rem;
    background: linear-gradient(to right, rgb(255, 139, 38), rgba(255, 119, 0, 0.5));
    border: none;
    border-radius: none;
   
  }
  
  .card-icon {
   font-size: 1.7rem;
  }
  
  .card-heading {
    font-size: 1.2rem;
  }

  .card-description {
   color: #e4e4e4; 
   font-size: 1rem;
  }
  
  @media only screen and (max-width: 767px) {
    .services {
      
    }
  
    .card {
      
    }
  
    .card-icon {
      
    }
  
    .card-heading {
      
    }
  
    .card-description {
      
    }
  }
  