/* NavHead.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.navbar {
    padding-top: 15px;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Oswald', sans-serif; 
}

.navbar a.nav-link {
  font-size: 20px;
  margin-right: 50px;
  color: white !important;
  font-family: 'Oswald', sans-serif;
  transition: 0.3s;
}

.navbar a.nav-link:hover {
    font-size: 20px;
    color: #f58424 !important;
    font-family: 'Oswald', sans-serif;
  }
  

.navbar-brand img{
    height: 65%;
    width: 65%;
}
.navbar-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }
  
  .navbar-toggler .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
  }
  
  
  .navbar-toggler.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar-toggler.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggler.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .btn-join-now {
 
  padding: 0.7rem;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #e07000;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-join-now i {
  margin-left: 10px;
}

.btn-join-now:hover {
  background-color: #f58424;
}
.logo {
  height: 65%;
  width: 65%;
  margin-right: 20px;
}
@media only screen and (max-width: 1000px) {
  .navbar-toggler {
    padding: 4px; /* Adjust the padding for smaller size */
  }

  .navbar-toggler .bar {
    height: 2px; /* Adjust the height of the bars */
    margin: 4px 0; /* Adjust the margin of the bars */
  }

  .btn-join-now {
    margin-right: 10px; /* Adjust the margin for the join now button */
  }

  .navbar-brand img {
    height: 60%;
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-toggler {
    padding: 4px; /* Adjust the padding for smaller size */
  }

  .navbar-toggler .bar {
    height: 2px; /* Adjust the height of the bars */
    margin: 4px 0; /* Adjust the margin of the bars */
  }

  .btn-join-now {
    margin-right: 10px; /* Adjust the margin for the join now button */
  }

  .navbar-brand img {
    height: 40%;
    width: 45%;
  }
}
