.modal-content {
    background-color: #333; 
    color: white; 
  }
  
  .modal-header {
    border-bottom: none; 
  }
  
  .modal-title {
    color: #f58424; 
    
  }
  
  .form-control {
    background-color: #1b1b1d; 
    color: white; 
  }
  
  .form-select,
  .btn-custom {
    background-color: #f58424; 
    color: white; 
  }
  .form-select:focus,
  .btn-custom:hover {
    background-color: #f69a49;  
  }
  .form-select:focus,
  .btn-custom:focus {
    border-color: #f58424; 
    box-shadow: 0 0 0 0.2rem rgba(245, 132, 36, 0.25); 
  }
  
  .btn-close {
    color: #f58424; 
  }
  
  .btn-close:hover {
    color: #d17f23; 
  }
  .custom-alert {
    background-color: #d17f23; 
    color: #fff; 
    border-color: #d17f23;
  }
  
  @media only screen and (max-width: 767px) {
    .form-control {
      min-width: 21rem;
    }

    .modal-content
    .form-select,
    .modal-content .btn-custom {
      min-width: 21rem;
    }
    
  }