/* WhyUsGallery.css */

.second{
    height: 17rem; /* Make the images fill the height of the container */
    object-fit: cover; 
  }
  .first{
    margin-bottom: 1rem;
    height: 17rem;
    object-fit: cover;
    object-position: left;
  }
