.footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    z-index: -1;
    margin-top: 13rem;
  }
  
  .footer h5 {
    color: #fff;
  }
  
  .footer p {
    color: #ccc;
  }

  .btn-custom{
    color: #e07000;
  }

  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }
  .custom-alert {
    background-color: #d17f23; 
    color: #fff; 
    border-color: #ffffff;
    max-width: fit-content;
  }
  .btn-custom{
    color: #fff;
  }
  .custom-alert .close {
    position: relative;
    background-color: transparent; /* Set to your desired background color */
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    opacity: 1;
  }
  
  /* Style the close button on hover */
  .custom-alert .close:hover {
    opacity: 1;
  }