#testimonial {
  text-align: center;
  padding: 5rem 0; /* Adjust padding as needed */
  margin-top: -3rem;
  margin-bottom: 4rem;
}

.testimonials__container {
  width: 100%;
  max-width: 30rem;
  height: 19rem;
  margin: 0 auto;
}

.heading-big {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  border-bottom: #e07000 1px solid;
}
.heading-small{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 0px 50px #e07000;
  margin-bottom: 4rem;
}
.heading-very-small{
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 4rem;
}
.testimonial {
  background-color: rgba(0, 0, 0, 0.1);  /* Adjust the background color to your orange theme */
  border-radius: 5%;
  padding: 1.5rem;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the testimonial content horizontally */
}

.client__avatar img {
  object-fit: cover;
  object-position: top;
  width:5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.clients__name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff; /* Adjust the color to match your theme */
  margin-bottom: 1rem;
}

.clients__review {
  font-size: 1rem;
  color: #ccc; /* Adjust the color to match your theme */
  line-height: 1.6;
}

.swiper-pagination .swiper-pagination-bullet {
  margin-top: 3rem;
  background-color: #ffbd7c; /* Adjust the color to match your theme */
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #cda47c; /* Adjust the active color to match your theme */
}
.blur-test{
  width: 8cm;
  height: 30rem;
}