
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    z-index: 1; 
    overflow-x: hidden;
  }
  
  .left {
    color: #fff;
    flex: 2;
    margin-left: 5rem;
    margin-right: 0;
    padding: 0;
    z-index: 2;
  }

  .loading-beast{
    font-size: 1.3rem; 
    margin-top: 8rem;
    background-color: #222;
    border-radius: 4.5rem;
    width: fit-content;
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .loading-beast>span{
    z-index: 3;
  }
  @keyframes loadingAnimation {
    0% {
      left: 0.5rem;
    }
    50% {
      left: calc(100% - 4.5rem);
    }
    100% {
      left: 0.5rem;
    }
  }
  
  .loading-beast > div {
    position: absolute;
    background-color: #f58424;
    width: 4rem;
    height: 80%;
    border-radius: 3rem;
    left: 0.5rem;
    z-index: 1;
    animation: loadingAnimation 5s infinite;
  }

  .hero-text {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 3.6rem; 
    margin-top: 2.8rem;
  }
  
  .top-text span {
    font-weight: bold; 
  }
  
  .bottom-text span {
    font-weight: bold; 
    margin-top: 10px; 
  }
  
  .description {
    font-family: 'Oswald', sans-serif;
    margin-top: 20px; 
    font-size: 1.4rem; 
    line-height: 1.5; 
    color: #ccc; 
  }
  .description>span{
    display: block;
  }
.cta-buttons {
    margin-top: 2rem;
  }
  
  .cta-buttons button {
    padding: 12px 24px;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .cta-buttons .solid-button {
    background-color: #e07000;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .cta-buttons .solid-button:hover {
    background-color: #f58424;
  }
  

  .cta-buttons .outline-button {
    background-color: transparent;
    color: #ccc;
    border: 2px solid #f58424;
    border-radius: 5px;
    transition: 0.5s;
  }

  .cta-buttons .outline-button:hover {
    background-color: #de8334;
    color: #ccc;
    border: 2px solid #f58424;
    border-radius: 5px;
  }
  
  .body-builder {
    margin-left: 4rem;
    margin-top: 6rem;
    position: relative;
    align-items: flex-end;
  }
  
  .body-builder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #e07000, #f58424);
    z-index: -1;
    border-radius: 1rem; 
  }
  
  .body-builder > img {
    height: 31.8rem;
   
    z-index: 1; 
  }
  
  @media only screen and (max-width: 767px) {
  
    .hero-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
    }

    @keyframes floatAnimation {
      0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
      }
      50% {
        transform: translate(-50%, -50%) translateY(-10px);
      }
    }
    
    .description>span{
      display:inline;
    }
    .cta-buttons {
      margin-top: 3.5rem;
      margin-bottom: 3em;
    }
  
    .cta-buttons button {
      padding: 10px 20px;
      font-size: 14px;
    }
  
    .body-builder {
      margin-left: 6.5rem;
      margin-top: 3.5rem;
    }
   
    .body-builder::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: transparent;
      z-index: -1;
      border-radius: 1rem; 
    }
    .body-builder > img {
      align-self: center;
      height: 13.6rem;
      opacity: 60%;
    }
  
    .hero-section {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      margin: 0;
      text-align: center;
    }
  
    .loading-beast {
      align-self: center;
      width: max-content;
      margin-top: 15vh;
      margin-bottom: 10vh;
      font-size: 2.1vh;
      text-align: center; 
      margin-left: auto; 
      margin-right: auto; 
    }
    .hero-text {
      margin-top: 3rem;
      font-size: 2.3rem;
      text-align: center;
      align-items: center;
      text-shadow: 0 0 60px #f59d45; 
    }
  
    .description {
      margin-top: 5rem;
      font-size: 1.6rem;
      text-shadow: none; 
    }
  
    
    .body-builder {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-bottom: none;
    }
  
    /* .row::before {
      content: '';
      position: absolute;
      top: 44%;
      left: 5%;
      width: 90%;
      height: 41%;
      background: linear-gradient(135deg, #e07000, #f58424);
      z-index: -1;
      border-radius: 1rem;
    } */
  }  
  @media only screen and (min-width: 1400px) {
    .loading-beast {
      font-size: 2.5rem;
      margin-top: 10rem;
    }
  
    .hero-text {
      font-size: 4rem;
    }
  
    .description {
      font-size: 1.8rem;
    }
  
    .cta-buttons button {
      padding: 15px 30px;
      font-size: 18px;
    }
  
    .body-builder {
      margin-left: 6rem;
      margin-top: 10rem;
    }
  
    .body-builder > img {
      height: 40rem;
    }
  }
  